@font-face {
  font-family: "Noah";
  src: url("/interaction/fonts/Noah/noah_regular_400.otf");
}
* {
	font-family: 'Noah', 'New York', sans-serif;
}
*:focus {
    outline: none;
}

body{
  margin: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.input_params + label{
  display: inline-block;
  margin-top: -3px;
  color: var(--txt-color);
}
.canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}
.interface{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgba(238, 238, 238, 0.5);
  padding: 10px;
}
.labelImport{
  margin-right: 77px;
}
.interfaceWindow{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(238, 238, 238, 0.5);
  padding: 15px 15px 5px;
}
 .winInterfaceDiv{
   margin-bottom: 11.5px;
 }
.buttonGrid{
  display: grid;
  grid-template-columns: 120px 25px 35px;
  font-size: 14px;
}
.buttonBoolGrid{
  display: grid;
  grid-template-columns: 120px 60px;
  font-size: 14px;
}
.input_params{
  width: 95%;
  margin-bottom: -3px;
}
.inputCumulColor{
  width: 50%;
  margin-bottom: 3px;
}
.inverse_dir{
  direction: rtl;
}
.check_button{
  float: right;
  font-weight: bold;
  font-size: 18px;
  color: green;
  margin-top: -5px;
}
.inLine{
  display: inline-block;
}
.vAlignMid{
  vertical-align: middle;
}
.checkAndRange{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.goInterface{
  cursor: pointer;
  position: absolute;
  text-align: right;
  color: var(--txt-color);
  font-size: 12px;
  width: 1.5%;
  height: 15px;
  font-family: arial;
  text-align: center;
}
.goInterface:hover{
  background-color: lightgray;
}
.goInterface.active{
  font-weight: bold;
  background-color: #e4e4fcee;
}
kbd.keys {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
	color: #333;
	display: inline-block;
	font-size: .85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
  height: 15px;
}
kbd.keys.on, kbd.keys.helpOn {
	background-color: #835040;
    color:#c3e7e5;
    box-shadow: unset;
}
.hidden{
  opacity: 0;
  width: 0;
  height: 0;
}
.helpTag{
    background-color: rgb(156, 248, 240);
    border-radius: 15px;
    border: 1px rgb(6, 70, 66) solid;
    padding: 3px;
    margin-right: 5px;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}
.helpTag:hover{
    background-color: rgb(51, 78, 76);
    color: white;
}
.helpTagOn{
    background-color: rgb(212, 65, 29);
    color: #e8f7fd;
}
.toLinked{
    border: 1px #ccc solid;
}
.linkedTo{
    border: 1px #cc0000 solid;
}
.toSlideWithMouse{
  border: 1px #00ccbb solid;
}
.radio-inline{
  display: inline-block;
}
.hrHelp{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.helpTitle{
  margin: 40px 0 0 0;
}
.thHelpInfo{
  cursor: pointer;
}
.thHelpInfo.sort_asc::after{
  content: '▲';
}
.thHelpInfo.sort_desc::after{
  content: '▼';
}
.helpMajButton{
  font-size: 25px;
  line-height: 1;
  padding: 0px;
  margin-right: 20px;
  cursor: pointer;
}
.flyOnTr{
  background-color: #c3e7e5;
}
.trSelect{
  background-color: #dcc3e7;
}

#ui{
  font-size: 0.777vw;
  z-index: 1;
  opacity: 1;
}
#canvasContainer{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
#num_interface{
  cursor: pointer;
  position: absolute;
  text-align: right;
  color: var(--txt-color);
  left: 98.25%;
  font-size: 12px;
  width:1.5%;
  height: 15px;
  font-family: arial;
}
#othersInterfaceContainer{
  position: absolute;
  text-align: right;
  color: var(--txt-color);
  top: 90%;
  font-size: 12px;
  width:100%;
  height: 15px;
  font-family: arial;
}
#showHideInterfaceTxt{
  cursor: nw-resize;
  float: right;
  margin-top: 2px;
}
#toggleHelpTxt{
  cursor: pointer;
  margin-top: 3px;
}
#toggleHelp{
  text-align: left;
  text-align: left;
  font-size: 10px;
  font-weight: 600;
  color: green;
}
#structure{
  cursor: pointer;
}

/*=========================================================*/
/* ------------------ CUSTOM RANGE INPUTS -----------------*/
/*=========================================================*/
/*==============================*/
/* partie commune               */
/*==============================*/
input[type=range].input_params {
  -webkit-appearance: none;
  color: #FFF;
  background: transparent;
  background-image: linear-gradient(to bottom, #FFF, #999, #FFF);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
}
input[type=range].input_help {
  -webkit-appearance: none;
  color: #FFF;
  background: transparent;
  background-image: linear-gradient(to bottom, #FFF, #999, #FFF);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 25%;
}
/*==============================*/
/* le curseur                   */
/*==============================*/
input[type=range].input_params::-webkit-slider-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].input_params::-moz-range-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].input_params::-ms-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#888, #FFF) content-box,          /* le centre */
              linear-gradient(-90deg, #888, #DDD) border-box;   /* le bord */
}
input[type=range].input_help::-webkit-slider-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#ca4e31, #FF0101) content-box, linear-gradient(-90deg, #4b20e6, #0004FF) border-box; 
}
input[type=range].input_help::-moz-range-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#ca4e31, #FF0101) content-box, linear-gradient(-90deg, #4b20e6, #0004FF) border-box;
}
input[type=range].input_help::-ms-thumb {
  width: .77em;
  height: 0.5em;
  padding: 0.2em;                                              /* largeur du bord */
  border: 1px solid #888;
  border-radius: 50%;
  box-shadow: 0 0 .5em #FFF inset;
  background: linear-gradient(#ca4e31, #FF0101) content-box, linear-gradient(-90deg, #4b20e6, #0004FF) border-box;
}
/*=========================================================*/
/*=========================================================*/


@media only screen and (max-width:1666px) {
  #ui {
    font-size: .9vw;
  }
}
@media only screen and (max-width:1250px) {
  #ui {
    font-size: 1.2vw;
  }
}
@media only screen and (max-width:912px) {
  #ui {
    font-size: 1.5vw;
  }
}
@media only screen and (max-width:653px) {
  #ui {
    font-size: 2vw;
  }
}

:root {
  --txt-color: #223351;
}













/*end*/
